{% extends "sono/sono.html" %}
{% block content %}

<div class="w3-container w3-card w3-white w3-margin-bottom">
        <h4 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxmedium w3-text-teal"></i>CHI TIẾT SỔ NỢ:</h4>
        <div class="w3-container">

                <div class="form-row field-ten_so_no">
                        <div>
                            <label for="id_ten_so_no">Tên sổ nợ:</label>
                                <h6>
                                    {{sono.ten_so_no}}
                                </h6>
                        </div>
                </div>

                <div class="form-row field-doi-tac">
                        <div>
                            <label for="id_doi_tac">Đối tác:</label>
                                <h6>
                                    {{sono.doi_tac}}
                                </h6>
                        </div>
                </div>

                <div class="form-row field-so_tien">
                        <div>
                                <label for="id_so_tien">Số tiền:</label>
                                <h6>
                                    {{sono.so_tien}}
                                </h6>
                        </div>
                </div>

                <div class="form-row field-ngay-vay">
                        <div>
                                <label for="id_ngay_vay">Ngày vay:</label>
                                <h6>
                                    {{sono.ngay_vay}}
                                </h6>
                        </div>
                </div>

                <div class="form-row field-ngay-tra">
                        <div>
                                <label for="id_ngay_tra">Ngày trả:</label>
                                <h6>
                                    {{sono.ngay_tra}}
                                </h6>
                        </div>
                </div>
        </div>
</div>

{% endblock %}