{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE HTML>
<html>
<head>
<title>Login form</title>
<script src="users/jquery.min.js"></script>
<link rel="stylesheet" href="{ % static 'users/jquery.min.js' % }">
<!-- Custom Theme files -->
<link rel="stylesheet" type="text/css" media="all" href="{% static 'users/style.css' %}">
<!-- for-mobile-apps -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="keywords" content="Classy Login form Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<!-- //for-mobile-apps -->
<!--Google Fonts-->
<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
<!--header start here-->
<div class="header">
		<div class="header-main">
		       <h1>Login</h1>
			<div class="header-bottom">
				<div class="header-right w3agile">
					
					<div class="header-left-bottom agileinfo">
						
					 <form action="#" method="post">
                        {% csrf_token %} 
                        <input type="hidden" name="next" value="{{ next }}">
					 	  <!-- <input type="text"  value="User name" name="name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'User name';}"/> -->
					    <!-- <input type="password"  value="Password" name="password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'password';}"/>  -->
                        {{ form|crispy }}
                        <div class="remember">
			             <span class="checkbox1">
							   <label class="checkbox"><input type="checkbox" name="" checked=""><i> </i>Remember me</label>
						 </span>
						 <div class="forgot">
							 <h6><a href="{% url 'register' %}">Need an account?</a></h6>
						 </div>
						<div class="clear"> </div>
						<div class="resetpass">
							<h6><a href="{% url 'password_reset' %}">Forgot your password?</a></h6>
						</div>
						<div class="clear"> </div>
					  </div>
						<input type="submit" value="Login">
					</form>	
					<div class="header-left-top">
						<div class="sign-up"> <h2>or</h2> </div>
					
					</div>
					<div class="header-social wthree">
							<a href="#" class="face"><h5>Facebook</h5></a>
							<a href="#" class="twitt"><h5>Twitter</h5></a>
						</div>
						
				</div>
				</div>
			  
			</div>
		</div>
</div>
<!--header end here-->
<div class="copyright">
	<p>Login Form | Design by  <a href="https://www.facebook.com/trinh.x.huong" target="_blank">  Trinh Huong </a></p>
</div>
<!--footer end here-->
</body>
</html>