{% extends  "users/base1.html" %} 
{% block rightcolumn %}

<div class="w3-bar w3-teal w3-card" >
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button w3-padding-large" title="Danh sách ví">Danh sách ví<i class="fa fa-caret-down"></i></span></button>     
    <div class="w3-dropdown-content w3-card-4 w3-bar-block">
      {% for vi in ds_vi %}
      <!-- cần thêm link vào đây (link dến lấy chi tiết ví) -->
        <a href="{% url 'lay_ls_chi_tieu' vi.id %}" class="w3-bar-item w3-button w3-center">{{ vi.ten }}</a> 
      {% endfor %}
      <a href="{% url 'themvi' %}" class="w3-bar-item w3-button w3-center">thêm ví</a>
    </div>
  </div> 
  <!-- thêm link lấy ds lịch sử chi tiêu -->
    <!-- <a href="#band" class="w3-bar-item w3-button w3-padding-large w3-hide-small" style="color:white">Lịch Sử Chi Tiêu</a> -->
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="More">Biểu Đồ <i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <!-- các link lấy biểu đồ -->
        <a href=# class="w3-bar-item w3-button">Biểu Đồ Lĩnh Vực</a>
        <a href=# class="w3-bar-item w3-button">Biểu Đồ Chi Tiêu</a>
      </div>
    </div>
    <a href="{% url 'themchitieu' %}" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-right" style="color:white">Thêm chi tiêu</a>
    </div>

    {% block content %}
    {{context}}
    {% endblock content %}

 {% endblock %} 